/*For hacker eyes only.*/

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

#everything { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 90%;
  margin:2rem;
  float: middle;
  font-size: 1.2rem;
}

* {
  font-family: -apple-system, "San Francisco", "Helvetica Neue", Arial, sans-serif;
}

a:link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:visited {
    color: white;
    font-weight: bold;
}

a:hover {
    color: white;
    font-weight: bold;
}

a:active {
    color: white;
    font-weight: bold;
}

header {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 50px;
}

.wrapper img {
  margin-top: 0px;
  width: 100%;
}

h1 {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black,
              -2px -2px 2px black,
              -2px 2px 2px black,
               2px -2px 2px black;
}

header p {
  font-size: large;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black,
              -2px -2px 2px black,
              -2px 2px 2px black,
               2px -2px 2px black;
}

nav a {
  margin: 5%;
}

nav {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-top: -30px;
  text-shadow: 2px 2px 2px black,
              -2px -2px 2px black,
              -2px 2px 2px black,
               2px -2px 2px black;

}

.column {
  margin-top: 5%;
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.column-1 {
  margin-top: 5%;
    margin-left: 5%;
}

.column-3 {
  margin-top: 50px;
  width: 90%;
  margin-left: 5%;
}

details p {
  margin-right: 10%;
} 

footer {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

#play {
 margin-left: 40%;
 width: 20%;
}

#result {
  margin-bottom: 100px;
}

#play {
  width: 150px;
  height: 75px;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 100px;
}

.simmer {
  margin-top: 50px;
  text-align: center;

}
