/*For hacker eyes only.*/

* {
	font-family: -apple-system, "San Francisco", "Helvetica Neue", Arial, sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover {
    color: gray;
}

a:active {
    color: purple;
}

header {
	margin-top: -150px;
	text-align: center;
	margin-bottom: 50px;
}

.wrapper img {
	margin-top: 0px;
	width: 100%;
}

h1 {
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 2px black,
                -2px -2px 2px black,
                -2px 2px 2px black,
                 2px -2px 2px black;
}

header p {
	font-size: large;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 2px black,
                -2px -2px 2px black,
                -2px 2px 2px black,
                 2px -2px 2px black;
}

.column {
	width: 45%;
 	display: inline-block;
 	vertical-align: top;
}

.column-1 {
  	margin-left: 5%;
}

details p {
	margin-right: 10%;
}

footer {
	text-align: center;
	margin-top: 30px;
}
