/*For hacker eyes only.*/

* {
  font-family: -apple-system, "San Francisco", "Helvetica Neue", Arial, sans-serif;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

header {
  margin-top: -170px;
  text-align: center;
  margin-bottom: 50px;
}

.wrapper img {
  margin-top: 0px;
  width: 100%;
}

h1 {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black,
              -2px -2px 2px black,
              -2px 2px 2px black,
               2px -2px 2px black;
}

header p {
  font-size: large;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black,
              -2px -2px 2px black,
              -2px 2px 2px black,
               2px -2px 2px black;
}

nav a {
  margin: 5%;
}

nav {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-top: -30px;
  text-shadow: 2px 2px 2px white,
              -2px -2px 2px white,
              -2px 2px 2px white,
               2px -2px 2px white;

}

.column {
  margin-top: 5%;
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.column-1 {
  margin-top: 5%;
    margin-left: 5%;
}

.column-3 {
  margin-top: 50px;
  width: 90%;
  margin-left: 5%;
}

details p {
  margin-right: 10%;
}

footer {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

#play {
 margin-left: 40%;
 width: 20%;
}

#result {
  margin-bottom: 100px;
}

#play {
  font-size: 15px;
  font-weight: bolder;
}

.simmer {
  margin-top: 50px;
  text-align: center;
}
