/**/

* {
	font-family: -apple-system, "San Francisco", "Helvetica Neue", Arial, sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover {
    color: gray;
}

a:active {
    color: purple;
}

h1 {
	color: gray;
}

img {
    display: block;
    margin: 0 auto;
}

.column {
	width: 90%;
 	display: inline-block;
 	vertical-align: top;
 	margin-left: 5%;
}

footer {
	text-align: center;
	margin-top: 20px;
}
